<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TALLA VOYAGE - {% block title %} Tableau de bord {% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static "assets/vendors/mdi/css/materialdesignicons.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/vendors/css/vendor.bundle.base.css" %}">
    <link rel="stylesheet" href="{% static "styles/W3.css" %}">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static "assets/images/favicon.png" %}"/>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img src="{% static "assets/images/logo.png" %}"
                                                                      alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img
                    src="{% static "assets/images/logo-mini.png" %}" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                       aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="{% static "assets/images/faces/user2.svg" %}" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">{{ user.get_full_name }}</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
{% if user.is_superuser %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin">
                            <i class="mdi mdi-set mr-2 text-primary"></i> Admin Account </a>
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>

            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="{% static "assets/images/faces/user2.svg" %}" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">

                            <span class="font-weight-bold mb-2">{{ user.get_full_name }}</span>
                            {% if user.is_superuser %}
                                <span class="text-secondary text-small">Chef D'agence</span>
                            {% elif user.est_employe %}
                                <span class="text-secondary text-small">{{ user.employe.get_poste_display }}</span>
                                {% else %}
                                <span class="text-secondary text-small">Client</span>
                            {% endif %}

                        </div>
                    </a>
                </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <span class="menu-title">Tableau de bord</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gestion' %}">
                        <span class="menu-title">Gestion</span>
                        <i class="mdi mdi-truck menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'employer' %}">
                        <span class="menu-title">Employés</span>
                        <i class="mdi mdi-account-multiple menu-icon"></i>
                    </a>
                </li>

            {% endif %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'reservations' %}">
                        <span class="menu-title">Reservations</span>
                        <i class="mdi mdi-ticket menu-icon"></i>
                    </a>
                </li>
             <li class="nav-item">
                    <a class="nav-link" href="{% url 'programme' %}">
                        <span class="menu-title">Programme</span>
                        <i class="mdi mdi-train menu-icon"></i>
                    </a>
                </li>


            {% if user.is_staff %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'expeditions' %}">
                        <span class="menu-title">Expedition</span>
                        <i class="mdi mdi-train-variant menu-icon"></i>
                    </a>

                </li>
            {% endif %}


            </ul>
        </nav>

        <!-- partial -->
        <div class="main-panel">

            {% block content %} {% endblock %}

            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">made with UY1 - Dept INFO - INFOL3</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static "assets/vendors/js/vendor.bundle.base.js" %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static "assets/vendors/chart.js/Chart.min.js" %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static "assets/js/off-canvas.js" %}"></script>
<script src="{% static "assets/js/hoverable-collapse.js" %}"></script>
<script src="{% static "assets/js/misc.js" %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static "assets/js/dashboard.js" %}"></script>
<script src="{% static "assets/js/todolist.js" %}"></script>
<!-- End custom js for this page -->
</body>
</html>