{% extends 'taxi/admin/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    {% load static %}

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Tableau de bord </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Overview <i
                            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">

            <div class="col-12">
                            <span class="d-flex align-items-center purchase-popup">
                                <p>Voir l'historique des reservation</p>
                                <a href="{% url 'reservations.historique' %}"
                                   class="btn ml-auto download-button">Voir</a>
                            </span>
            </div>
            <div class="col-12">
                            <span class="d-flex align-items-center purchase-popup">
                                <p>Voir l'historique des expedition</p>
                                <a href="{% url 'expeditions.terminer' %}"
                                   class="btn ml-auto download-button">Voir</a>
                            </span>
            </div>


            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{% static "assets/images/dashboard/circle.svg" %}" class="card-img-absolute"
                             alt="circle-image"/>
                        <h4 class="font-weight-normal mb-3">Masse salariale <i
                                class="mdi mdi-cash-multiple mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">FCFA 1.500.0000</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="{% static "assets/images/dashboard/circle.svg" %}" class="card-img-absolute"
                             alt="circle-image"/>
                        <h4 class="font-weight-normal mb-3">Nombre d'employés<i
                                class="mdi mdi-account-multiple mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">45</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{% static "assets/images/dashboard/circle.svg" %}" class="card-img-absolute"
                             alt="circle-image"/>
                        <h4 class="font-weight-normal mb-3">Reservation Aujourd'hui <i
                                class="mdi mdi-metronome-tick mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">320 Reservation</h2>
                        <h2 class="mb-5">FCFA 1.500.0000</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                    <div class="card-body">
                        <img src="{% static "assets/images/dashboard/circle.svg" %}" class="card-img-absolute"
                             alt="circle-image"/>
                        <h4 class="font-weight-normal mb-3">Nombre d'expeditions<i
                                class="mdi mdi-train-variant mdi-24px float-right"></i>
                        </h4>
                        <h2 class="mb-5">32 Expeditions</h2>
                        <h2 class="mb-5">FCFA 800.400</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}