{% extends 'taxi/admin/base.html' %}
{% block title %} NOUVEL EMPLOYE{% endblock %}
{% block content %}
    {% load static %}

    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-ticket"></i>
                            </span> Reservation </h3>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">
                        <span></span>Ajouter une Reservation <i
                            class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Ajouter une Reservation</h4>
                        <form class="forms-sample" method="post" action="{% url "reservations.nouveau" %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label for="first_name"
                                       class="col-sm-3 col-form-label">Nom : </label>
                                <div class="col-sm-9">
                                    <input type="text" name="first_name" class="form-control" id="first_name"
                                           placeholder="Nom " {% if not user.est_employer %} readonly value="{{ user.first_name }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="last_name"
                                       class="col-sm-3 col-form-label">Prenom : </label>
                                <div class="col-sm-9">
                                    <input type="text" name="last_name" class="form-control" id="last_name"
                                           placeholder="Prenom " {% if not user.est_employer %} readonly value="{{ user.last_name }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="telephone"
                                       class="col-sm-3 col-form-label">Numero de Telephone : </label>
                                <div class="col-sm-9">
                                    <input type="text" name="telephone" class="form-control" id="telephone"
                                           placeholder="Numero de Telephone" {% if not user.est_employer %} readonly value="{{ user.telephone }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cni"
                                       class="col-sm-3 col-form-label">Numero de CNI</label>
                                <div class="col-sm-9">
                                    <input name="cni" type="text" class="form-control" id="cni"
                                           placeholder="Numero de CNI" {% if not user.est_employer %} readonly value="{{ user.cni }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="cni"
                                       class="col-sm-3 col-form-label">Nombre de places</label>
                                <div class="col-sm-9">
                                    <input name="places" type="number" class="form-control" id="places" min="1" max="5"
                                            value="1"
                                           placeholder="Nombre de places">
                                </div>
                            </div>
                        {% if not programme %}
                            <div class="form-group row">
                                <label for="programme"
                                       class="col-sm-3 col-form-label">Programme</label><div class="col-sm-9"><select name="programme"  class="form-control" id="programme" required type="text" {% if not user.est_employer %} disabled {% endif %}>
                                        {% for reservation in reservations %}
                                            <option value="{{ reservation.id }} " >{{ reservation }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            {% else %}
                            <input type="hidden" name="programme" value="{{ programme.id }}">
                        {% endif %}

                            <div class="form-group row">
                                <label for="date"
                                       class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    <input name="date" type="date" class="form-control" id="date"
                                           placeholder="Date" required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}